body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.loading-wrapper {
    text-align: center;
    margin-top: 50px;
}

.react-calendar {
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 100px;
    box-shadow: 2px 2px 3px 3px #bababa;
    .react-calendar__tile--active {
        background: #23275D;
        &:focus, &:hover {
            background: #23275D;

        }
    }
}

.hour-wrapper {
    width: 100%;
    text-align: right;
    cursor: pointer;
    &:hover {
        button {
            opacity: 1 !important;
        }
    }
    .hour-item {
        padding: 10px 0;
        min-height: 30px;
        p {
            display: inline-block;
            float: left;
        }
        button {
            display: inline-block;
            opacity: 0;
            transition: all .5s ease;
            padding: 0;
            margin-left: 10px;
            svg {
                color: #23275D;
            }
        }
    }
    hr {
        position: absolute;
        width: 100%;
    }
}

.btn-dark {
    color: #23275D;
}

.slot-label {
    position: absolute;
    top: 25px;
    right: 20px;
    color: #23275D;
}
